<ul class='country'>
  <li class='country__item country__item--combined'>
    <img src='{{flags.svg}}' alt='{{name.official}}' class='country__flag' />
    <p class='country__name'>{{name.official}}</p>
  </li>
  <li class='country__item'>
    <span class='country__label'>Capital:</span>
    {{capital}}
  </li>
  <li class='country__item'>
    <span class='country__label'>Population:</span>
    {{population}}
  </li>
  <li class='country__item'>
    <span class='country__label'>Languages:</span>
    {{#each languages}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
  </li>
</ul>